body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  color: #469CFF;
  font-size: 2em;
}

#navbar {
  height: 75px;
  background-color:rgb(12, 12, 12);opacity:0.7; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  }
  
#text-container{
    padding-right: 10%;
}

  .logo img{
    height: 40px;
    padding: 20px;
    margin-left: 10%
  }
  

  /*  forsidesecktion  */

  .forsidesecktion{
    background-image: url(img/background_official.png);
    background-repeat: no-repeat;
    
  }


  .textbox{
  background-color:#469CFF;
  width: 400px;
  height: 350px;
  display: inline-block;
  margin: 10% 0px 70px 11.5%;
  padding: 2em;
  color: white;

  }

.textbox p{
    padding-right: 5%;
    padding-left: 5%;
    font-size: 22px;
}

.textbox h2{
    padding-left: 5%;
    font-size: 26px;
    color: white;
}

.textbox img{
    width: 40%; 
    margin: -55px;
    margin-left: 20px;
}



  .videobox{
    background-color:rgb(12, 12, 12);opacity:0.5;
    width: 920px;
    height: 660px;
    display: inline-block;
    margin: 10% 11.5% 0px 0;
    float:right;
  }

.arrowdown{
    padding-left: 50%;
    margin-top: 12%;
    color: white;
}

.contenttext{
  width: 500px;
  height: 300px;
  display: inline-block;
  margin: 5% 0 0 1%;
  padding: 2em;
}

.contenttext p{
   font-size: 22px;
    
}

.contenttext h2{
    font-size: 26px;
}

.contentpic{
    display: inline-block;
    margin: 8% 0 0 17.5%;
    float:left;
}

.contenttext2{
  width: 500px;
  height: 300px;
  display: inline-block;
  margin: 5% 0 0 1%;
  padding: 2em;
}

.contenttext2 p{
   font-size: 22px;
    
}

.contenttext2 h2{
    font-size: 26px;
}

.contentpic2{
    display: inline-block;
    margin: 8% 0 0 17.5%;
    float:left;
}



.aktiv1{
  background-image: url(img/Image\ 16.png);
  background-repeat: no-repeat;
  height: 1100px;
  
}

.textbox2{
  background-color:#469CFF;
  width: 400px;
  height: 250px;
  display: inline-block;
  margin: 10% 0px 70px 11.5%;
  padding: 2em;
  color: white;

  }

.textbox2 p{
    padding-right: 5%;
    padding-left: 5%;
    font-size: 22px;
}

.textbox2 h2{
    padding-left: 5%;
    font-size: 26px;
    color: white;
}




.aktiv2{
  background-image: url(img/Path\ 2@2x.png);
  margin-top: 100px;
  height: 2000px;
}

.aktiv2 h2{
  display: flex;
  justify-content: center;
  
}
  

.gridcontainer1{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  margin-left:200px;
  margin-right:200px; 
  grid-gap: 30px;
  text-align: center;
}


.gridcontainer1 div{
  background-color: aqua;
  
}

footer{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px; 
  background-color: #469CFF;
  color: white;
}
footer div{
  margin: 50px;
}